# macOS and Windows
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.egg-info/

# Caché de Herramientas
.pytest_cache/
.ruff_cache/

# Virtual enviroments
.venv/
venv/
env/

# VSCode
.vscode/

EXPLICACION.md


